{{define "content"}}<p>Yeni openlog hesabınızın e-posta adresini doğrulayın.</p><p>Bağlantının geçerliliği {{date .ExpiresAt}} tarihinde sona erer. Kaydolmadıysanız bu e-postayı dikkate almayın.</p>{{end}}
{{define "linkLabel"}}E-posta adresini doğrula{{end}}
