{{define "content"}}<p>Confirm the e-mail address of your new openlog account.</p><p>The link expires on {{date .ExpiresAt}}. If you did not sign up, ignore this e-mail.</p>{{end}}
{{define "linkLabel"}}Confirm e-mail address{{end}}
